#flex{
    display: flex;
    margin-top: 150px;
    margin-left: 90px;
    margin-right: 8px;
}


table{
    margin-top: 20px;
    width: 100%; 
    
}


button{
    float: right; 
    margin-right: 8px;
    width: 100px;
}

p{
    font-size: large;
    font-weight: bold;
}

#spacer-top{
    position: relative;
    top: 110px;
    margin-left: 100px;
    margin-right: 8px;
}

.filterDiv{
position: absolute;top: 200px;right: 0;
 width: 20%;
 margin-right: 15px;
z-index: 3;
background-color: white;
border: 2px solid black;
box-shadow: 10px 5px grey;
}


.filterDiv th, .filterDiv td {
    padding: 15px;
    text-align: left;
    border: 1px solid #dddddd;
  }
  #list {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #list td, #list th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #list tr:nth-child(even){background-color: #f2f2f2;}
  
  #list tr:hover {background-color: #ddd;}
  
  #list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }