#toolBarHeight{
    height: 60px;
    position:fixed;
    z-index: 4;
}
  .example-container {
    width: 60px;
    height: 100vh;
    background-color: rgb(14, 116, 118);
    float: left;
    
    position: fixed;
    height: 100%;
    /* min-height: 100%; */
    /* width: 100%; */
    /* min-width: 100%; */
  }